.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 350px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.CQ-header {
	 background-color: #F9F9F9;
  line-height: 40px;
  color: #5A5A5A;
}
.pages{
	height: 86px;
	background: white;
}
.App-Footer{
	text-align: center;
	/*background-color: black;*/
  color: white;
	
}

.myButton{
    width: 100%;
}
.myinput{
    padding-left: 35px;
}

/*.ant-fullcalendar-calendar-body{*/
    /*display: none;*/
/*}*/
/*.ant-fullcalendar{*/
    /*border-top: 0;*/
/*}*/

#root{
    position: relative;
}
#zoom-ctrl {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 5px;
    border: 1px solid #333;
}
#zoom-ctrl span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-size: 16px;
    border: 1px solid #333;
}
#zoom-ctrl span:hover{
    background: #fff;
    color: #333;
}

.myLink{
    text-decoration: none;
}

.myLink:focus{
    text-decoration: none;
}

.myLink:hover{
    text-decoration: none;
}

.ant-table-tbody > tr > td {
    padding: 16px 16px;
    word-break: break-all;
}